<!-- {{$ctrl.hotel}} -->

<div class="card">
    <div class="header-container">
        <div class="image-container">
            <img src="{{$ctrl.hotel.image_url}}" alt="" class="image">
            <span class="savings">
                <p class="main-price">- {{$ctrl.savings}}</p>
                <p class="price-subheading">OFF</p>
            </span>

        </div>

        <div class="heading">

            <h1 class="hotel-name">{{$ctrl.hotel.hotel_name}}</h1>

            <div class="info">
                <div class="reviews">
                    <span ng-repeat="i in $ctrl.hotel.num_stars track by i">{{$index+1}}</span>
                    <p>{{$ctrl.hotel.num_reviews}} Reviews</p>
                </div>
                <div class="amenities">
                     <span ng-repeat="amenities in $ctrl.hotel.amenities"> {{amenities}}</span>
                </div>
            </div>
        </div>
    </div>

    <main class="pricing-container">
        <div class="bad-price">
            <span>{{$ctrl.hotel.price}}</span>
            <div class='hotelDotCom'>hotels.com</div>
        </div>
        <div class="good-price">
            <span>{{$ctrl.hotel.snapPrice}}</span>
            <div class='view-button'>view details</div>
        </div>
    </main>


</div>
