.card {
    max-width: 580px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
    color: #686868;
    font-family: 'lato', sans-serif;
    margin: 20px auto;
    padding: 20px;

    .image-container {
        margin-left: 10px;
        img {
            width: 180px;
            height: 177px;
            border-radius: 5px;

        }
    }

    .header-container {
        display: flex;
    }

    .savings {
        position: absolute;
        top: 10px;
        left: -10px;
        width: 114.9px;
        height: 64px;
        border-radius: 2px;
        background-image: linear-gradient(61deg, #f5515f, #9f041b);
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.56);
        font-family: Lato;
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        p {
            margin-bottom: 0;
        }
        .main-price {
            font-size: 22px;
        }
        .price-subheading {
            font-size: 16px
        }
    }

    .hotel-name {
        width: 100%;
        margin-left: 20px;
        font-size: 22px;
        margin: 0;
    }

    .image-container {
        position: relative;
    }

    .heading {
        width: 100%;
        margin: 0 10px;
    }

    .info {
        display: flex;
        font-size: 1.3em;
        padding: 10px 0;
        border-bottom: 1px solid #686868;
    }

    .reviews {
        flex: 1 0 0;
        font-size: 16px;
    }


    .amenities {
        flex: 1 0 0;
        font-weight: bold;

        span {
            flex-direction: row;
            DISPLAY: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }
    }
    .pricing-container {
        display: flex;

        .good-price {
            border: 1px solid green;
            flex: 1 0 0;
            border-radius: 2px;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
            margin: 10px 10px 0px 0;
            justify-content: center;
            align-content: center;
            text-align: center;
            padding: 20px;

            span {
                color: green;
                font-weight: 600;
                font-size: 2em;
            }

            .view-button {
                border-radius: 4px;
                background-color: #4f9f22;
                box-shadow: 0 2px 4px 0 rgba(79, 159, 34, 0.5);
                color: white;
                padding: 10px;
                font-weight: 500;
                font-size: 18px;
            }
        }

        .bad-price {
            border:1px solid red;
            flex: 1 0 0;
            border-radius: 2px;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
            margin: 10px 10px 0px 0;
            justify-content: center;
            align-content: center;
            text-align: center;
            padding: 20px;

            span {
                color: red;
                font-weight: 600;
                text-decoration: line-through;
                font-size: 2em;
            }

            .hotelDotCom {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

}
