.page-header-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 4px 0 #c4c4c4;
    color: #ff8314;
    font-size: 2em;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    height: 70px;
    font-weight: bold;
    font-family: lato, sans-serif;

    .logo {
        width: 70px;
        height: 100%;
        background: #ff8314;
        margin-right: 10px;
    }
}
