.filters {
    display: flex;
    align-items: flex-start;
    font-family: lato, sans-serif;
    margin: 10px auto;
    flex-direction: column;
    width: 90%;

    div {
        border-radius: 3px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        margin: 5px 0;
    }
}


.price-sort {
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.other-sort {

    background-color: #f0f0f0;
}
