<div class='filters'>
    <div class="price-sort" ng-click="$ctrl.sortByPrice"> Price </div>
    <div class="other-sort" ng-click="$ctrl.sortByRating()"> Rating</div>
    <div class="other-sort" ng-click="$ctrl.sortBySavings()"> Savings</div>
</div>
