<div class="search-form">

    <input type="text"
           placeholder="Search by city"
           ng-model="$ctrl.formData.city"
           class="city-input"
    />

    <div class="inputs">
        <input type="text"
               placeholder="Check-In"
               ng-model="$ctrl.formData.checkin"
               class="checkin-input"
        />
        <input type="text"
               placeholder="Check-Out"
               ng-model="$ctrl.formData.checkout"
               class="checkout-input"
        />

        <div ng-click=$ctrl.getSearchResults()
             class="search-bar"
        >
            <i class="fa fa-search"></i>
        </div>
    </div>

</div>

<div ng-if="$ctrl.results.length > 0" class='resuts-container'>
    <filter results="$ctrl.results"></filter>
    <hotel-card ng-repeat="hotel in $ctrl.results track by hotel.hotel_name" hotel="hotel"></hotel-card>
</div>
