.search-form {
    width: 90%;
    margin: 0 auto;

    input {
        border-radius: 5px;
        background-color: var(--white);
        box-shadow: 0 0 4px 0 #bbbbbb;
        line-height: 3em;
        padding: 5px;
        display: inline-block;
    }
    .city-input {
        width: 100%;
    }

    .search-bar {
        display: flex;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 #bbbbbb;
        padding: 14px;
        justify-content: center;
        align-items: center;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        input {
            flex: 1 0 0;
            margin: 0 10px 0 0 ;
        }
    }
}
